body {
  margin: 0;
  font-family: "Fira Code", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, monospace;
}
.app {
  display: block;
}
.app-wrapper {
  color: #ffffff;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2.6vmin);
}
.app-form {
  width: 500px;
  padding: 30px 40px;
  margin-top: 40px;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #ffffff;
}
